<footer id="footer">
    <div class="inner">
        <section>
            <h2>AmaOzon интернет-магазин</h2>
            <a href="">Вакансии</a> <br>
            <a href="">Стать курьером</a> <br>
            <a href="">Открыть точку</a> <br>
        </section>
        <section>
            <h2>Зарабатывать на AmaOzon</h2>
            <ul class="icons">
                <li><a href="https://github.com/dagedarr" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
                <li><a href="https://t.me/nilotan" class="icon solid style2 fa-phone"><span class="label">Telegram</span></a></li>
                <li><a href="mailto:arnat64@mail.ru" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </section>
    </div>
</footer>
